/*RESET*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*COLORS*/

.blue-bg{
    background-color: #0084FD;
}
.blue{
    color: #0084FD;
}

.lightblue-bg{
    background-color:#B5DDFF;
}

.purple-bg{
    background-color: #9792E4;
}
.purple{
    color: #9792E4;
}

.yellow{
    color: #FDC15F;
}

.white-bg{
    background-color: white;
}
.white{
    color: white;
}

.black{
    color: black;
}

/*UTILITY CLASSES*/

.wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.container{
    /*width: 60%; -- Desktop*/
    width: 100%;
}

.small-container{
    /*width: calc(100% / 3); -- Desktop*/
    width: 100%;
    margin: 50px 0px;
}

.btn{
    border: none;
    border-radius: 3rem;
    padding: .5em;
}

.img {
    width: 100%;
}

.big-icon{
    font-size: 3rem;
}
.row{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

/*Header*/

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .5em 1em;
}

.logo{
    display: flex;
    align-items: center;
}
.nav-list{
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    gap: 1em;
    display: none;
}

