/*RESET*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*COLORS*/

.blue-bg{
    background-color: #0084FD;
}
.blue{
    color: #0084FD;
}

.lightblue-bg{
    background-color:#B5DDFF;
}

.purple-bg{
    background-color: #9792E4;
}
.purple{
    color: #9792E4;
}

.yellow{
    color: #FDC15F;
}

.white-bg{
    background-color: white;
}
.white{
    color: white;
}

.black{
    color: black;
}

/*UTILITY CLASSES*/

i{
    margin: 0 1em;
}

img{
    width: 100%;
}

.wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.container{
    /*width: 60%; -- Desktop*/
    width: 100%;
    padding: 2.5em 1.5em;
    gap: 2em;
}

.small-container{
    /*width: calc(100% / 3); -- Desktop*/
    width: 100%;
    margin: 50px 0px;
}

.btn{
    border: none;
    border-radius: 3rem;
    padding: 1px 3rem;
    color: white;
    font-size: 1rem;
}

.img {
    width: 100%;
    display: flex;
}

.big-icon{
    font-size: 5rem;
}
.row{
    display: flex;
    flex-wrap: wrap;
}

.col{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center ;
}

/*Header*/

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .5em 1em;
}

.logo{
    display: flex;
    align-items: center;
}
.nav-list{
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    gap: 1em;
    display: none;
}

.card{
    width: 100%;
    border-radius: 1.5em;
}

.description{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: 300;
    padding: 1em 2em;
}

.card h1{
    padding: 1em 0;
}

.card p{
    margin-bottom: 2em;
}

.card i{
    padding: 1rem 0;
}