/*RESET*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'PT Sans', sans-serif;
}
/*COLORS*/

.blue-bg{
    background-color: #0084FD;
}
.blue{
    color: #0084FD;
}

.lightblue-bg{
    background-color:#B5DDFF;
}

.purple-bg{
    background-color: #9792E4;
}
.purple{
    color: #9792E4;
}

.yellow{
    color: #FDC15F;
}

.white-bg{
    background-color: white;
}
.white{
    color: white;
}

.black{
    color: black;
}

.grey{
    color: rgb(232, 232, 232);
}

.light-black{
    background-color: #333333;
}
/*UTILITY CLASSES*/

img{
    width: 100%;
}

a{
    color: #9792E4;
}

.wrapper, .nav-wrapper{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.container{
    /*width: 60%; -- Desktop*/
    width: 100%;
    padding: 2rem 2rem;
    gap: 2rem;
}

.small-container{
    /*width: calc(100% / 3); -- Desktop*/
    width: 100%;
    padding: 2rem 2rem;
    gap: 2rem;
}

.nav-btn{
    border: none;
    border-radius: 3rem;
    padding: .25rem 1.75rem;
    color: black;
    font-size: 1rem
}

.btn{
    border: none;
    border-radius: 3rem;
    padding: .5rem 3rem;
    color: white;
    font-size: 1rem;
}

.img {
    width: 100%;
    display: flex;
}

.big-icon{
    font-size: 5rem;
}
.row{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.col{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center ;
    gap: 2rem;
}

.big-title{
    font-size: 2rem;
}

.huge-title{
    font-size: 3rem;
}

/*Header*/

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .5em 1em;
}

.logo{
    display: flex;
    align-items: center;
}
.nav-list{
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    gap: 1em;
    display: none;
}

/*MAIN SECTION*/


.card, .big-card{
    width: 100%;
    border-radius: 1.5em;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center ;
    gap: 2rem;
}

.description{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem 2rem;
    gap: 1.5rem;
}
.big-card{
    text-align: left;
}

.description button {
    padding: .5rem 2.5rem;
}

.description button i{
    margin: 0;
    padding: 0 .5rem;
}

.planning{
    width: 100%;
    text-align: center;
}

.developement{
    width: 100%;
    text-align: center;
    padding: 2rem 2rem;
    border-radius: 2rem;
}

.developement p{
    font-style: italic;
}

.arrow-down{
    font-size: 1.5rem;
    margin-bottom: 2rem;
    width: 50px;
    height: 50px;
    background-color: #9792E4;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.uppercase{
    text-transform: uppercase;
    font-weight: 300;
}

.profile-card{
    padding: 2rem 1.5rem;
    border-radius: 2rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
}



.profile-img{
    display: inline-block;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.profile-desc{
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.nat{
    background-image: url(../img/testimonial1.jpg);
}
.celia{
    background-image: url(../img/testimonial2.jpg);
}
.bob{
    background-image: url(../img/testimonial3.jpg);
}

.benefits-card{
    padding: 2rem 2rem;
    border-radius: 1.25rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
}
.benefits-card p{
    text-align: left;
}

.about-us{
    display: flex;
    flex-wrap: wrap;
    text-align: left;
}

.first-about{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    text-align: left;
}

.second-about{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: flex-start;
    text-align: left;
}


.left-text{
    text-align: left;
    font-size: 1.1rem;
    font-weight: 300;
}

.tony{
    background-image: url(../img/about.jpg);
}

.about-img{
    margin: 0;
    margin-top: .5rem;
    padding: 0;
}

.tony i{
    font-size: 3rem;
    margin-left: 7rem;
}

.linkeldn{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 2rem;
}

.second-about button{
    border: none;
    border-radius: 1rem;
    padding: 5px 10px;
    color: white;
    align-self: flex-start;
}

.second-about button i{
    margin: 0;
    padding-right:4px ;
}

.get-started{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    width: 100%;
}

.get-started h3{
    font-size: 1em;
}

.big-btn{
    border: none;
    text-align: center;
    font-size: 1.1rem;
    border-radius: 2rem;
    padding: 1rem 4rem;
}

.small-text{
    font-size: 0.7rem;
}

.underline{
    text-decoration: underline;
}

.links{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    width: 100%;
}



/*MEDIA QUARY*/

@media all and (min-width:576px){
    
    .card{
        width: calc((100% - 4rem) / 3);
    }

    .big-card{
        width: calc(((100% - 4rem) / 3) * 2);
        padding: 0;
        flex-direction: column;
    }

    .big-card .description{
        justify-content: flex-start;
        align-items: flex-start;
        width: 100%;
    }

    .big-card .img{
        width: 100%;
        justify-content: flex-start;
        align-items: flex-start;
        padding: 0 2rem;
    }

    .big-card .img img{
        width: 65%;
    }

    .col{
        justify-content: flex-start;
    }

    .planning{
        align-items: flex-start;
        text-align: left;
    }
    
    .planning h1{
        font-size: 3.5rem;
    }

    .profile-card{
        flex-direction: row;
    }

    .profile-desc{
        display: flex;
        flex-direction: column;
        text-align: left;
        align-items: flex-start;
        gap: 2rem;
    }

    .benefits-card{
        width: calc((100% - 2rem) / 2);
        gap: 2rem;
    }

    .first-about{
        width: calc(60% - 1rem);
        padding: 2rem;
    }
    .second-about{
        width: calc(40% - 1rem);
        padding: 2rem;
    }

    .get-started{
        width: 80%;
    }

    .get-started h1{
        font-size: 2.5rem;
    }

    .get-started .huge-title{
        font-size: 4rem;
    }

    .big-title{
        width: 100%;
    }

    .links{
        width: 60%;
    }
    
    .wrapper{
        padding: 2rem 0;
    }

}

@media all and (min-width:992px){
    .container{
        width: 60%;
    }

    .small-container{
        width: 50%;
    }

    .menu{
        display: none;
    }
    .nav-list{
        display: flex;
    }

    .big-card{
        flex-direction: row;
    }
    .big-card .description{
        width: 50%;
        align-self: flex-start;
        padding-right: 0;
    }
    .big-card .img{
        width: 50%;
        align-self: flex-end;
        justify-content: right;
        padding-left: 0;
 
    }

    .big-card .img img{
        text-align: right;
        width: 80%;
    }



    .planning{
        width: calc(50% - 1rem);
    }

    .developement{
        width: calc(50% - 1rem);
        align-self: flex-end;
    }

    .developement img{
        width: 60%;
    }
    .arrow-down{
        margin: 0;
    }

    .benefits-card{
        width: calc((100% - 4rem) / 3 );
    }

    .first-about{
        width: calc(70% - 1rem);
        padding: 2rem;
    }
    .second-about{
        width: calc(30% - 1rem);
        padding: 2rem;
    }

    .profile-img{
        width: 180px;
        height: 180px;
    }

    .get-started{
        width: 50%;
    }

    .links{
        width: 30%;
    }

    .big-title{
        font-size: 2.5rem;
    }

    .huge-title{
        font-size: 4rem;
    }

    footer .wrapper{
        padding: 0;
    }
}

